{% extends "base.html" %}


{% load crispy_forms_tags %}

{% block content %}
<div class="container col-md-6">
    <form method="POST">
        {% csrf_token %}
        {{postForm | crispy}}
    
        <button class="btn btn-primary" type="submit" name="post">Create Post</button>  
    </form>

    {% for post in posts %}
    <hr>
        {% if post.author.id == current_user.id %}

        <div>
            <h2>{{post.author}}</h2>
            <p>From: {{post.whereFrom}} <br> To: {{post.whereTo}} <br> On: {{post.date}}<br> At: {{post.time}}</p>
            <button type="button">
                <a href="{% url 'cabPosts:delete_my_post'  key=post.id %}">Delete</a>
            </button>
            <button type="button">
                <a href="{% url 'cabPosts:edit_my_post'  key=post.id %}">Edit Post</a>
            </button>
        </div>
        <div>
            <div class="text-muted">
                {% for comment in comments %}
                {% if comment.post.id == post.id %}
                    <p><span>{{comment.name}}</span>: {{ comment.content }}</p> 
                {% endif %}
                {% endfor %}
            </h5>
            
        </div>
        
        <form method="POST">
            {% csrf_token %}
            {{commentForm | crispy}}
            <input type="hidden" value="{{ post.id }}" name="post_id">
            <button class="btn btn-primary" type="submit" name="comment">Create Comment</button>
        </form>
        

        {% endif %}
    {% endfor %}

</div>
{% endblock content %}
